[settings]
# Максимальная длина строки в модуле
line_length = 79

# Переносить на новые строки только если не влезает в line_length
force_grid_wrap = 0

# Стиль форматирования: импорты с отступами внутри скобок
multi_line_output = 3

# Добавляет запятую после последнего импорта
include_trailing_comma = true

# Объединяет import ... as ... в одной строке
combine_as_imports = true