# Основные
aiohttp
aiohttp-pydantic
pydantic
pydantic-settings
sqlalchemy
alembic
asyncpg
greenlet
aiohttp-rpc

# Валидация
email-validator
# python-multipart

# Dev зависимости
# pytest
# pytest-aiohttp
# pytest-cov
# black
# isort
# mypy
